parameters:
    level: 8

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true

    paths:
        - src/

    excludePaths:

    ignoreErrors:

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon