parameters:
	ignoreErrors:
		-
			message: "#^Method DEVizzent\\\\CodeceptionMockServerHelper\\\\MockServerHelper::_beforeSuite\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MockServerHelper.php
