name: Tests

on: [pull_request]

jobs:

  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      MOCKSERVER_URL: 'http://localhost:1080'
    services:
      mockserver:
        image: mockserver/mockserver
        ports:
          - "1080:1080"
        env:
          MOCKSERVER_INITIALIZATION_JSON_PATH: /docker/mockserver/expectations/**.json
          MOCKSERVER_LOG_LEVEL: WARN
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        dependencies:
          - "lowest"
          - "highest"
        php:
          - '7.4'
          - '8.0'
        experimental:
          - false
        include:
          - php: "8.1"
            composer-options: "--ignore-platform-reqs"
            experimental: true
            dependencies: "highest"
          - php: "8.2"
            composer-options: "--ignore-platform-reqs"
            experimental: true
            dependencies: "highest"
          - php: "8.3"
            composer-options: "--ignore-platform-reqs"
            experimental: true
            dependencies: "highest"
          - php: "8.4"
            composer-options: "--ignore-platform-reqs"
            experimental: true
            dependencies: "highest"
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@2.24.0
        with:
          php-version: ${{ matrix.php }}
          extensions: intl, mbstring
          tools: "composer:v2"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: "Install lowest dependencies"
        if: ${{ matrix.dependencies == 'lowest' }}
        run: composer update --prefer-lowest --no-interaction --no-progress --no-suggest ${{ matrix.composer-options }}

      - name: "Install highest dependencies"
        if: ${{ matrix.dependencies == 'highest' }}
        run: composer update --no-interaction --no-progress --no-suggest ${{ matrix.composer-options }}

      - name: "Run unit tests"
        run: ./vendor/bin/phpunit -c phpunit.xml

  cs:
    name: Codestyle check on PHP 7.4
    runs-on: ubuntu-latest
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@2.24.0
        with:
          php-version: 7.4

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download dependencies
        run: composer update --no-interaction --prefer-dist --optimize-autoloader --prefer-stable

      - name: Run tests
        run: ./vendor/bin/phpcs

  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - '7.4'
    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@2.24.0
        with:
          php-version: ${{ matrix.php }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download dependencies
        run: composer update --no-interaction --prefer-dist --optimize-autoloader --prefer-stable

      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse --memory-limit 512M
